a{
	text-decoration: none;
	color:darkblue ;
}

header{
	background: #E8EDEF;
	padding: 25px 0;
}

.navbar ul{
	margin:0;
	padding:0;
	display:flex;
	list-style:none;
	align-items:center;
}

.navbar li{
	position: relative;
}
.navbar a{
	font-size:15px;
	font-weight:600;
	color: #61BDEA;
	text-transform: uppercase;
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
}



section {
	margin-top:80px;
	padding:60px 0;
	overflow:hidden;
}
h2{
	color: darkblue;
	font-family: 'Lato', sans-serif;
}
p{

	font-family: 'Lato', sans-serif;
}
h3{
	font-family: 'Lato', sans-serif;
}
h4{
	color:green;
}
.card1{
	width:80%;
	background-color:white;
	color:#114B96;
	border: 3px solid pink;
	border-radius:20px;
	transition: 0.5s;
}
.card1:hover{
     scale:1.1;
     background-color:#91B1C2  ;
}
}
.card1 p{
	color:black;
	font-size:15px;
	text-align: justify;
}
.card2{
    width: 80%;
	background-color:white;
	color:black;
	border: 6px solid gray;
	border-radius: 12px;
	transition: 0.3s;
}
.card2:hover{
	scale:1.1;
	background-color: gray;
}
.card p{
	color:black;
	font-size:18px;
}
/*#piechart1{
	border: 1px solid darkgray;
	border-radius: 8px;
	padding: 20px;
}
#barchart1{
	border: 1px solid darkgray;
	border-radius: 8px;
	padding: 24px;

}

#newchart1{
	border: 1px solid darkgray;
	border-radius: 8px;
	padding: 20px;
}
#newchart2{
	border: 1px solid darkgray;
	border-radius: 8px;
	padding: 20px;*/

.graph-box{
	background-color:#E3EEFC  ;
	width:85%;
	height:450px;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 15px;

}
}
.graph-box:hover{
	scale:1.05;
}

@media (max-width: 800px){
	.card1{
		margin-top: 30px;
	}
}
.graph-box{
	margin-top: 25px;
}
.piechart{
	width: 80% !important;
	height: auto !important;
	margin: auto !important;
}
}
.aboutimg{
	border-radius: 20px;
}
